APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=daily
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

HORIZON_MIN_PROCESSES=1
HORIZON_MAX_PROCESSES=3
HORIZON_MAX_BALANCE_SHIFT=2
HORIZON_BALANCE_COOLDOWN=2
HORIZON_BASIC_AUTH_USERNAME=""
HORIZON_BASIC_AUTH_PASSWORD=""

RAY_LOCAL_PATH=
RAY_REMOTE_PATH=

TELEGRAM_TOKEN=
